* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  outline: none;
}

h1 {
  font-weight: 600;
  font-size: 72px;
}

body {
  /* padding: 30px; */
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  /* padding: 10px; */
  background-color: #070707;
  width: 100%;
  height: 100%;
}

.container > * {
  color: white;
}

.left-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 10px; */
  /* background-color: blue; */
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* background-color: blue; */
}

.profile-image {
  object-fit: cover;
  width: 75vh;
  height: auto;
  /* height: 100%; */
}

.card {
  max-width: 512px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 30px;
  -webkit-box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.13),
    0px 0px 16px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.13),
    0px 0px 16px 0px rgba(255, 255, 255, 0.2);
  color: #070707;
}

.card-content {
  padding: 20px;
}

.card-control-button {
  border-radius: 9999px;
  padding: 3px;
  transition: 0.3s;
  border: 0.75px solid rgba(255, 255, 255, 0);
  background-color: transparent;
}

.card-control-button:hover {
  border: 0.75px solid rgba(255, 255, 255, 1);
  /* background-color: #eee; */
}

.card-control-button:active {
  background-color: #aaa;
}

.card-control-container {
  padding: 20px;
  display: flex;
  align-items: self;
  justify-items: self;
}

.carousel-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: -5px;
}

.skill-chip {
  border: 0.75px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 9999px;
  min-width: 80px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.content-header-container {
  margin-bottom: 20px;
}

.work-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
