* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  outline: none;
}

::selection {
  background: rgb(41, 247, 213);
  color: black;
}

h1:not {
  line-height: 1.6;
}

h1 {
  font-weight: 600;
  font-size: 64px;
}

body {
  /* padding: 30px; */
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a,
a:visited {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  /* padding: 10px; */
  background-color: #070707;
  width: 100%;
  height: 100%;
}

.container > * {
  color: white;
}

.left-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 10px; */
  /* background-color: blue; */
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px;
  /* background-color: blue; */
}

.profile-image {
  object-fit: cover;
  width: 75vh;
  height: auto;
  z-index: 2;
  /* height: 100%; */
  filter: grayscale(0.65);
}

.card {
  max-width: 512px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 30px;
  -webkit-box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.13),
    0px 0px 16px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 17px 10px rgba(255, 255, 255, 0.13),
    0px 0px 16px 0px rgba(255, 255, 255, 0.2);
  color: #070707;
}

.card-content-container {
  min-width: 30vw;
  /* max-height: 75vh; */
  height: 100%;
  /* overflow-y: auto; */
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  /* overflow-x: hidden; */
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-content-data-item {
  min-width: 30vw;
  max-width: 30vw;
  padding: 20px;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-control-button {
  border-radius: 9999px;
  padding: 0px;
  transition: 0.3s;
  border: 0.75px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  z-index: 2;
}

.card-control-button:hover {
  border: 0.75px solid rgba(255, 255, 255, 1);
  /* background-color: #eee; */
}

.card-control-button:active {
  background-color: #aaa;
}

.card-control-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: -10px;
}

.skill-chip {
  border: 0.75px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 9999px;
  min-width: 80px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.content-header-container {
  margin-bottom: 20px;
}

.work-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.connect-container {
  display: flex;
  padding: 5px;
  margin: -10px;
}

.connect-item {
  padding: 5px;
}
